@import "reset.css";
@import "variables.css";

.hidden {
    visibility: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bgImage {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#theTime {
    position: absolute;
    font-size: 85px;
    font-weight: 700;
    top: 30vh;
    left: 40vw;
    text-shadow: var(--shadow);
}

#seconds {
    position: absolute;
    font-size: 55px;
    font-weight: 500;
    top: 32vh;
    left: 59vw;
    text-shadow: var(--shadow);
}

#whatDay {
    position: absolute;
    top: 24vh;
    left: 41vw;
    font-size: 40px;
    font-weight: 500;
    text-shadow: var(--shadow);
}